/Makefile
/Makefile.Debug
/Makefile.Release
/object_script.NavitConfigurator.Debug
/object_script.NavitConfigurator.Release
/navitconfigurator
/NavitConfigurator.exe
/NavitConfigurator.pro.user
/.qmake.stash
/debug/*
/release/*
/ui_*.h
/doc/*
/win32
